/* style.css für tclhttpd auf gremlin */

body {background-color: #ffffee; color: #000000;}
h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
	font-family:Arial,helvetica,sans-serif;}
h1 {font-size:140%; margin-bottom: 1em;}
h2 {font-size:120%; margin-bottom: 0.8em;}
h3 {font-size:110%; margin-bottom: 0.5em;}
/* h4,p,ul,ol,li,div,td,th,address,blockquote {font-size:14pt;} */
li {margin-top:2pt;}
pre {font-family:Courier New,Courier; color:#006600; background-color: #eeeeee;}
a:link {color: #000066; text-decoration:underline;}
a:visited {color: #990033; text-decoration:underline;}
a:active {color: #006600; text-decoration:none;}

